{% extends 'mainapp/base.html' %}
{% block content %}
    <h2>Enderecos</h2>
    <div class="list-group">
        {% for endereco in object_list %}
            <a href= {% url 'enderecos-detail' endereco.id %} class="list-group-item list-group-item-action">
                {{ endereco.logradouro }},&nbsp;
                {{ endereco.numero }},&nbsp;
                {% if endereco.complemento %}
                    {{ endereco.complemento }},&nbsp;
                {% endif %}
                {{ endereco.bairro }},&nbsp;
                {{ endereco.cidade }},&nbsp;
                {{ endereco.uf }},&nbsp;
            </a>
        {% endfor %}
    </div>
{% endblock %}